$light-gray: #f7f7f9;

$primary-color-dark:   #00796B;
$primary-color:        #31343F;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #ffffff;
$accent-color:         #FF5252;
$primary-text-color:   #D2CCCC;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$black-color: #000;
